.lang-selector-wrapper {
  position: relative;
}

.lang-btn {
  border: none;
  width: 80px;
  height: 35px;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.lang-dropdown {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  min-width: 150px;

  display: none;
  flex-direction: column;

  border-radius: 12px;
  overflow: hidden;
}

.lang-dropdown.show {
  display: flex;
}

.lang-option {
  padding: 12px 16px;
  border: none;
  text-align: left;
  cursor: pointer;
}


